* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00BFFF;
    background-image: linear-gradient(260deg, rgb(95, 151, 239, 0.5) 0%, rgb(199, 219, 249, 0.5) 100%);
}

.logo {
  margin: -26px 0 -26px .45em;
  width: 35%;
}

.logo a {
  color: rgb(28, 24, 22);
}

.logo, .navigation {
  list-style: none;
  text-transform: uppercase;
}

.logo a, .navigation a {
  text-decoration: none;
  letter-spacing: .45rem;
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #00ace6;
}

header {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./image/back.jpg');
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

marquee {
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  padding: 12px 0;
  /* background-color: lightblue; */
  background-image: linear-gradient(260deg, rgb(95, 151, 239, 0.5) 0%, rgb(199, 219, 249, 0.5) 100%);
  font-size: 19px;
  font-family: 'Muli', sans-serif;
  color: #ffffff;
}

video {
  margin: 20px;
  border-radius: 5px;
}

.image {
  width: 25%;
  margin-left: 40px;
}

.img {
  width: 27%;
}
h2:after {
    display: block;
    content: "";
    border: 1px solid white;
    height: 1px;
    margin: 10px auto;
}
h2 {
  font-size: 150%;
  font-weight: 700;
  padding-bottom: 20px;
  color: pureblack;
  text-align: center;
  margin: 20px;
  font-family: 'Muli', sans-serif;
}
h2 {
  text-align: center;
  color: white;
  letter-spacing: 1px;
  line-height: 10px;
}
h3{
  text-align: right;
  margin-right: 20px;
}

.first {
  border: 2px solid #d1d1d1;
  margin: 5px;
}

p {
  font-family: 'Muli', sans-serif;
  margin: 10px;
  text-align: center;
  line-height: 26px;
  border: 1px solid #d1d1d1;

}

/* =========== */
/* VIDEO */
video::cue {
  background-image: linear-gradient(to bottom, dimgray, lightgray);
  color: papayawhip;
}

video::cue(b) {
  color: peachpuff;
}

audio {

  width: 70%;
  margin: 40px 0px 0px 120px;
  border-radius: 10px;
  height: 30px;
}

.page {
  width: 100%;
  margin: 0 auto;
}
#head{
  margin-bottom: 20px;
  font-size:18px;
  color:#633541;
}

.sidebar {
  height: 1020px;
  background: -webkit-linear-gradient(left, #0ABFBC, #F09A9D);
  background: -o-linear-gradient(left, #0ABFBC, #F09A9D);
  background: linear-gradient(to right, #0ABFBC, white);
}

.main {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px;
}

.content {
  float: left;
  width: 60%;
  height: 1020px;
  background-color: lightblue;
  background-image: linear-gradient(260deg, rgb(95, 151, 239, 0.5) 0%, rgb(199, 219, 249, 0.5) 100%);
  padding-right: 3px;
}

.footer {
  clear: both;
  height: 200px;
  background-color: #D6E9FE; 
  background-image: linear-gradient(260deg, rgb(95, 151, 239, 0.5) 0%, rgb(199, 219, 249, 0.5) 100%);
}
.footer {
  position: inherit;
  bottom: 0;
  width: 100%;

  text-align: center;
  height: 220px;
}
.social li {
  text-align: center;
  display: inline-flex;
  padding: 20px;
}
.fa {
  padding: 13px;
  font-size: 20px;
  width: 44px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook {
  color: black;
}
.fa-youtube {
  color: black;
}
.fa-instagram {
  color: black;
}
.fa-google {
  color: black;
}
.fa-linkedin {
  color: black;
}
.form-wrap{
  display: block;
}
.form-wrap label {
  margin: 5px 10px 5px 0;
}
.form-wrap input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px 40px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}
.form-wrap button {
  padding: 10px 40px;
  background-color: lightgray;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.form-wrap button a{
  text-decoration: none;
  color:black;


}

.form-wrap button:hover {
  background-color: gray;
}
